/* I don't really like this but the spans are still there if anyone wants to tweak with it. */
/* @media (color) { */
/*     .still-menu { */
/*         background-color: red; */
/*         padding-top: 3px; */
/*     } */
/*     .still-menu span:first-child { */
/*         display: none; */
/*     } */
/* } */

img.print_icon {
    margin: 2px 2px -2px 2px;
}

span.icon::before {
    content: \"\\03c\";
}

span.icon::after {
    content: \"\\03e\";
}

kbd {
    display:          inline-block;
    margin:           0 .1em;
    padding:          .1em .6em;
    font-family:      -apple-system,BlinkMacSystemFont,\"Segoe UI Adjusted\",\"Segoe UI\",\"Liberation Sans\",sans-serif;
    font-size:        11px;
    line-height:      1.5;
    color:            hsl(210,8%,15%);
    text-shadow:      0 1px 0 hsl(0,0%,100%);
    background-color: hsl(210,8%,90%);
    border:           1px solid hsl(210,8%,65%);
    border-radius:    3px;
    box-shadow:       0 1px 1px hsla(210, 8%, 5%, 0.15), inset 0 1px 0 0 hsl(0, 0%, 100%);
    overflow-wrap:    break-word;
}

dt {
    float:      left;
    width:      30%;
    text-align: right;
    padding:    .25em;
    clear:      left;
}

dd {
    float:   left;
    width:   60%;
    padding: .25em 0;
}

dl:after {
    content: \"\";
    display: table;
    clear:   both;
}
